@model Langben.DAL.ChuLi

@{
    Layout = "~/Views/Shared/Details.cshtml";
}
@using Common
 @section CurentPlace {
    详细  
}
 
    <fieldset>
        <legend>
            <input class="a2 f2" type="button" onclick="window.location.href = 'javascript:history.go(-1)';" value="返回" />
        </legend>
        <div class="bigdiv">
                  
                <div class="display-label">
                      @Html.LabelFor(model => model.XueXiao) :
                </div>
                <div class="display-field">
                    @Html.DisplayFor(model => model.XueXiao) 
                </div>      
                <div class="display-label">
                      @Html.LabelFor(model => model.BaoXiuRen) :
                </div>
                <div class="display-field">
                    @Html.DisplayFor(model => model.BaoXiuRen) 
                </div>      
                <div class="display-label">
                      @Html.LabelFor(model => model.LianXiDianHua) :
                </div>
                <div class="display-field">
                    @Html.DisplayFor(model => model.LianXiDianHua) 
                </div>
                <br style="clear: both;" />
                <div class="display-label">
                    @Html.LabelFor(model => model.MiaoShu) :
                </div>
                <div class="textarea-box">
                    @Html.TextAreaFor(model => model.MiaoShu, new {  @readonly=true})                   
                </div>      
                <div class="display-label">
                      @Html.LabelFor(model => model.TuPian) :
                </div>
                <div class="display-field">
                    @Html.DisplayFor(model => model.TuPian) 
                </div>      
                <div class="display-label">
                      @Html.LabelFor(model => model.PaiXu) :
                </div>
                <div class="display-field">
                    @Html.DisplayFor(model => model.PaiXu) 
                </div>
                <br style="clear: both;" />
                <div class="display-label">
                    @Html.LabelFor(model => model.Remark) :
                </div>
                <div class="textarea-box">
                    @Html.TextAreaFor(model => model.Remark, new {  @readonly=true})                   
                </div>      
                <div class="display-label">
                      @Html.LabelFor(model => model.State) :
                </div>
                <div class="display-field">
                    @Html.DisplayFor(model => model.State) 
                </div>      
                <div class="display-label">
                      @Html.LabelFor(model => model.HuiYuanId) :
                </div>
                <div class="display-field">
                    @Html.DisplayFor(model => model.HuiYuanId) 
                </div>      
                <div class="display-label">
                      @Html.LabelFor(model => model.JuJueLiYou) :
                </div>
                <div class="display-field">
                    @Html.DisplayFor(model => model.JuJueLiYou) 
                </div>      
                <div class="display-label">
                      @Html.LabelFor(model => model.JuJueShiJian) :
                </div>
                <div class="display-field">
                    @Html.DisplayFor(model => model.JuJueShiJian) 
                </div>      
                <div class="display-label">
                      @Html.LabelFor(model => model.Anpai) :
                </div>
                <div class="display-field">
                    @Html.DisplayFor(model => model.Anpai) 
                </div>      
                <div class="display-label">
                      @Html.LabelFor(model => model.AnPaiShiJian) :
                </div>
                <div class="display-field">
                    @Html.DisplayFor(model => model.AnPaiShiJian) 
                </div>      
                <div class="display-label">
                      @Html.LabelFor(model => model.ShenQingId) :
                </div>
                <div class="display-field">
                    @Html.DisplayFor(model => model.ShenQingId) 
                </div>      
        </div>
    </fieldset>


