@model Langben.DAL.ChuLi

@{
    Layout = "~/Views/Shared/Edit.cshtml";
}
@using Common
@using Models
 @section CurentPlace {
    修改  
}

    <fieldset>
        <legend>
            <input class="a2 f2" type="submit" value="保存" />
            <input class="a2 f2" type="button" onclick="BackList('ChuLi')" value="返回列表" />
        </legend>
        <div class="bigdiv" id="Emsg">
            @Html.HiddenFor(model => model.Id )      
            <div class="editor-label">
                @Html.LabelFor(model => model.XueXiao)：
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.XueXiao)
                @Html.ValidationMessageFor(model => model.XueXiao)
            </div>     
            <div style="float:right; width:420px;height:184px;">
                <img id="showPic" src="~/Images/noPic.jpg" width="149" height="175" />
                <div style="float:left">
                    <div id="uploader-demo">
                        <!--用来存放item-->
                        <div id="fileList" style="display:none;" class="uploader-list"></div>
                        <div id="filePicker">上传图片</div>
                    </div>
                </div>
            </div>
            <div class="editor-label">
                @Html.LabelFor(model => model.BaoXiuRen)：
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.BaoXiuRen)
                @Html.ValidationMessageFor(model => model.BaoXiuRen)
            </div>     
            <div class="editor-label">
                @Html.LabelFor(model => model.LianXiDianHua)：
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.LianXiDianHua)
                @Html.ValidationMessageFor(model => model.LianXiDianHua)
            </div>
            <div class="editor-label">
                @Html.LabelFor(model => model.PaiXu) ：
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.PaiXu, new { onkeyup = "isInt(this)", @class = "text-box single-line" })
                @Html.ValidationMessageFor(model => model.PaiXu)
            </div>
            <br style="clear: both;" />
            <div class="editor-label">
                @Html.LabelFor(model => model.MiaoShu)：
            </div>
            <div class="textarea-box">
                @Html.TextAreaFor(model => model.MiaoShu) 
                @Html.ValidationMessageFor(model => model.MiaoShu) 
            </div>     
            <br style="clear: both;" />
            <div class="editor-label">
                @Html.LabelFor(model => model.Remark)：
            </div>
            <div class="textarea-box">
                @Html.TextAreaFor(model => model.Remark) 
                @Html.ValidationMessageFor(model => model.Remark) 
            </div>        
            <div class="editor-label">
                @Html.LabelFor(model => model.State)：
            </div>
            <div class="editor-field">
                @Html.DropDownListFor(model => model.State, Models.SysFieldModels.GetState1(), "请选择")
            </div>     
            <div class="editor-label">
                <a class="anUnderLine" onclick="showModalOnly('HuiYuanId','../../HuiYuan');">
                    @Html.LabelFor(model => model.HuiYuanId)
                </a>：
            </div>
            <div class="editor-field">
                <div id="checkHuiYuanId">
                </div>
                @Html.HiddenFor(model => model.HuiYuanId)
            </div>     
             
            <br style="clear: both;" />
            <div class="editor-label">
                @Html.LabelFor(model => model.Anpai)：
            </div>
            @*<div class="textarea-box">
                @Html.TextAreaFor(model => model.Anpai)
                @Html.ValidationMessageFor(model => model.Anpai)
            </div>*@       
            <div class="editor-field">
                @Html.DropDownListFor(model => model.Anpai, Models.SysFieldModels.GetSysField("SysPerson", "MyName"), "请选择")
            </div>  
            <div class="editor-label">
                @Html.LabelFor(model => model.AnPaiShiJian)：
            </div>
            <div class="editor-field">
                @Html.TextBox("AnPaiShiJian", ((Model != null && Model.AnPaiShiJian != null) ? Model.AnPaiShiJian.ToString().AsDateTime().ToString("yyyy-MM-dd") : ""), new { style = "width: 244px;", @class="easyui-datebox" })
                @Html.ValidationMessageFor(model => model.AnPaiShiJian)
            </div>     
             
            <div class="editor-label">
                @Html.LabelFor(model => model.ShenQingId)：
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.ShenQingId)
                @Html.ValidationMessageFor(model => model.ShenQingId)
            </div>     
        </div>

        @Html.HiddenFor(model => model.TuPian)
        <input type="hidden" id="OldPic" name="OldPic" value="@(ViewBag.OldPic)" />
        <input type="hidden" id="fileUrl" value="TuPian" />
        <script type="text/javascript" src="@Url.Content("~/Res/webuploader/js/webuploader.nolog.min.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Scripts/UploadFile.js")"></script>
    </fieldset>


@section HeadContent{
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Res/webuploader/css/webuploader.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Res/webuploader/images/style.css")" />
}

    <script type="text/javascript">
            $(function () {
                var pic = $("#TuPian").val();
                if (pic=='') {
                    $("#showPic").attr("src","/Images/noPic.jpg")
                }else
                {
                    $("#showPic").attr("src", pic);//显示头像图片
                }
            });

    </script>



