@model Langben.DAL.ChuLi

@{
    Layout = "~/Views/Shared/Create.cshtml";
}
@using Common
@using Models
 
@section CurentPlace {
 
      创建  
 
 }
    <fieldset>
        <legend>
            <input class="a2 f2" type="submit" value="创建" />
            <input class="a2 f2" type="button" onclick="BackList('ChuLi')" value="返回" />
        </legend>
        <div class="bigdiv">
                 
            <div class="editor-label">
                @Html.LabelFor(model => model.XueXiao)：
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.XueXiao)
                @Html.ValidationMessageFor(model => model.XueXiao)
            </div>     
            <div class="editor-label">
                @Html.LabelFor(model => model.BaoXiuRen)：
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.BaoXiuRen)
                @Html.ValidationMessageFor(model => model.BaoXiuRen)
            </div>     
            <div class="editor-label">
                @Html.LabelFor(model => model.LianXiDianHua)：
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.LianXiDianHua)
                @Html.ValidationMessageFor(model => model.LianXiDianHua)
            </div>
            <br style="clear: both;" />
            <div class="editor-label">
                @Html.LabelFor(model => model.MiaoShu)：
            </div>
            <div class="textarea-box">
                @Html.TextAreaFor(model => model.MiaoShu) 
                @Html.ValidationMessageFor(model => model.MiaoShu) 
            </div>     
            <div style="float:right; width:420px;height:184px;">
                <img id="showPic" src="~/Images/noPic.jpg" width="149" height="175" />
                <div style="float:left">
                    <div id="uploader-demo">
                        <!--用来存放item-->
                        <div id="fileList" style="display:none;" class="uploader-list"></div>
                        <div id="filePicker">上传图片</div>
                    </div>
                </div>
            </div>
            <div class="editor-label">
                @Html.LabelFor(model => model.PaiXu) ：
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.PaiXu, new {  onkeyup = "isInt(this)", @class="text-box single-line" })
                @Html.ValidationMessageFor(model => model.PaiXu) 
            </div>
            <br style="clear: both;" />
            <div class="editor-label">
                @Html.LabelFor(model => model.Remark)：
            </div>
            <div class="textarea-box">
                @Html.TextAreaFor(model => model.Remark) 
                @Html.ValidationMessageFor(model => model.Remark) 
            </div>        
            <div class="editor-label">
                @Html.LabelFor(model => model.State)：
            </div>
            <div class="editor-field">
                @Html.DropDownListFor(model => model.State,Models.SysFieldModels.GetSysField("ChuLi","State"),"请选择")
            </div>     
            <div class="editor-label">
                @Html.LabelFor(model => model.HuiYuanId)：
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.HuiYuanId)
                @Html.ValidationMessageFor(model => model.HuiYuanId)
            </div>     
             
            <div class="editor-label">
                @Html.LabelFor(model => model.ShenQingId)：
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.ShenQingId)
                @Html.ValidationMessageFor(model => model.ShenQingId)
            </div>     
        </div>

        @Html.HiddenFor(model => model.TuPian)
        <input type="hidden" id="OldPic" name="OldPic" value="@(ViewBag.OldPic)" />
        <input type="hidden" id="fileUrl" value="TuPian" />
        
        @Html.HiddenFor(model => model.FanKuiTuPian)
        <input type="hidden" id="OldPic1" name="OldPic1" value="@(ViewBag.OldPic1)" />
        <input type="hidden" id="fileUrl2" value="FanKuiTuPian" />
        <script type="text/javascript" src="@Url.Content("~/Res/webuploader/js/webuploader.nolog.min.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Scripts/UploadFile.js")"></script>
     
    </fieldset>
 

    
   @section HeadContent{
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Res/webuploader/css/webuploader.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Res/webuploader/images/style.css")" />
}
<script type="text/javascript">
    $(function () {
        var pic = $("#TuPian").val();
        if (pic == '') {
            $("#showPic").attr("src", "/Images/noPic.jpg")
        } else {
            $("#showPic").attr("src", pic);//显示头像图片
        }

        var pic1 = $("#FanKuiTuPian").val();
        if (pic1 == '') {
            $("#showPic").attr("src", "/Images/noPic.jpg")
        } else {
            $("#showPic").attr("src", pic1);//显示头像图片
        }
    });

</script>




