@model Langben.DAL.ChuLi

@{ Layout = "~/Views/Shared/Index.cshtml"; }
@using Common
@using Models
@using Langben.App.Controllers;

<div id="divQuery">
    <div class="input_search">
        <div class="input_search-label">
            状态:
        </div>
        <div class="input_search-field">
            <input id="cc" name="State">
        </div>
        <div class="input_search-label">
            联系方式:
        </div>
        <div class="input_search-field">
            <input id="LianXiDianHua" name="LianXiDianHua">
        </div>
        <div class='input_search-label'>
            申请时间:
        </div>
        <div class='input_search-field-time'>
            <input type="text" id="ShenQingShiJianStart_Time" onclick="WdatePicker({ maxDate: '#F{$dp.$D(\'ShenQingShiJianEnd_Time\');}' })" />
            <span>到</span>
            <input type="text" id="ShenQingShiJianEnd_Time" onclick="WdatePicker({ minDate: '#F{$dp.$D(\'ShenQingShiJianStart_Time\');}' })" />
        </div>
    </div>
    <div class='input_search' style="padding-top:10px;">
        <a href="#" onclick="flexiQuery()" class="easyui-linkbutton" data-options="iconCls:'icon-search'">
            查 询
        </a>
    </div>
</div>
<br style="clear: both;" />
<div id="1" style="display:none;">
    <div id="dd" data-options="iconCls:'icon-save'" style="padding:5px;width:700px;height:230px;">
        <div class="textarea-box">
            @Html.TextAreaFor(model => model.JuJueLiYou)
            @Html.ValidationMessageFor(model => model.JuJueLiYou)
        </div>
    </div>
    <div id="dd1" data-options="iconCls:'icon-save'" style="padding:5px;width:700px;height:230px;">
        <div class="textarea-box">
            @Html.TextAreaFor(model => model.FanKui)
            @Html.ValidationMessageFor(model => model.FanKui)
        </div>
    </div>
    <div id="dd2" data-options="iconCls:'icon-save'" style="padding:2px;width:720px;height:280px;">
        <div class="editor-field">
            @Html.DropDownListFor(model => model.AnpaiName, SysFieldModels.GetAnpaiUserData(), "请选择")
 
        </div>
    </div>
</div><div id="dQuestion" style="display:none;" onmouseover="$(this).show()" onmouseout="$(this).hide()"></div>
<style>
    .puvA img {
        height: 60px;
        margin: 3px;
        overflow: hidden;
        width: 60px;
    }

 
</style>
<script type="text/javascript" language="javascript">
    $(function () {


        $('#flexigridData').datagrid({
            title: '维修处理', //列表的标题
            iconCls: 'icon-site',
            width: 'auto',
            height: 'auto',
            //nowrap: false,
            striped: true,
            collapsible: true,
            url: '../ChuLi/GetData', //获取数据的url
            sortName: 'Id',
            sortOrder: 'desc',
            idField: 'Id',


            columns: [[


                { field: 'XueXiao', title: '@Html.DisplayNameFor(model => model.XueXiao)', width: 150 }
                , { field: 'BaoXiuRen', title: '@Html.DisplayNameFor(model => model.BaoXiuRen)', width: 80 }
                , { field: 'LianXiDianHua', title: '@Html.DisplayNameFor(model => model.LianXiDianHua)', width: 110 }



                 , {
                     field: 'YuYue', title: '预约时间', width: 110
                , formatter: function (value, rec) {
                    if (value) {
                        return dateConvert2(value);
                    }
                }
                 }, {
                     field: 'ShenQingShiJian', title: '申请时间', width: 110
                , formatter: function (value, rec) {
                    if (value) {
                        return dateConvert2(value);
                    }
                }
                 }
                 , { field: 'JuJueLiYou', title: '处理情况', width: 110 }


                  , {
                      field: 'MiaoShu', title: '@Html.DisplayNameFor(model => model.MiaoShu)', width: 110,
                      formatter: function (value, rec, index) {
                          var q = '<span onmouseout="HideQuestion()" onmouseover="ShowQuestion(event,' + index + ')" style="cursort:pointer">' + rec.MiaoShu + '</span>';
                          return q;
                      }
                  }

                   , {
                       field: '图片', title: '图片', width: 230, align: 'center',
                       formatter: function (value, row, index) {

                           if (row.TuPianSmall) {
                               var datasSmall = row.TuPianSmall.split(',');
                               var datas = row.TuPian.split(',');
                               var tu = "";
                               var dizhi = "http://weixiu.langben.com";
                               for (var i = 0; i < datas.length; i++) {
                                   if (datas[i]) {
                                       tu += '<a class="puvA" target="_blank" href="' + dizhi + datas[i] + '"><img src="' + dizhi + datasSmall[i] + '"></a>';


                                   }
                               }
                               return tu;
                           }


                       }
                   }, { field: 'State', title: '@Html.DisplayNameFor(model => model.State)', width: 50 }

                , {
                    field: '操 作', title: '操 作', width: 105, align: 'center',
                    formatter: function (value, row, index) {
                        if (row.State == '已提交') {


                            return '<a class="chaolianjie" href="#"onclick="editrow(\'' + row.Id + '\')">拒绝</a>  &nbsp <a class="chaolianjie" href="#" onclick="UpdataDH(\'' + row.Id + '\')">打回</a> &nbsp <a class="chaolianjie" href="#" onclick="flexiModify(\'' + row.Id + '\')">安排</a>';

                        } else {

                            return '<a class="chaolianjie"  style="color:#666" href="#"  >拒绝</a>  &nbsp  <a  class="chaolianjie" href="#"  style="color:#666" >打回</a> &nbsp <a class="chaolianjie" href="#"  style="color:#666">安排</a>';

                        }
                    }
                }]],
            pagination: true,
            rownumbers: true


        });
        $('#cc').combobox({
            data: [{
                "id": "",
                "text": "全部",
                "selected": true
            }, {
                "id": "已提交",
                "text": "已提交"
            }, {
                "id": "已拒绝",
                "text": "已拒绝"
            }, {
                "id": "已安排",
                "text": "已安排"
            }, {
                "id": "已打回",
                "text": "已打回"
            }, {
                "id": "已维修",
                "text": "已维修"
            }, {
                "id": "结束",
                "text": "结束"
            }],
            editable: false,
            valueField: 'id',
            textField: 'text',
            onSelect: function (rec) {

                var search = "State&" + rec.text + "^";
                if (rec.id == "all") {
                    search = '';
                }
                $('#flexigridData').datagrid('load', { search: search });
            }
        });

    });
    function ShowQuestion(e, rowIndex) {
        var ev = e || window.event;
        var xx = ev.clientX + document.body.scrollLeft - document.body.clientLeft;
        var yy = ev.clientY + document.body.scrollTop - document.body.clientTop;
        $("#dQuestion").css({ "position": "absolute", "cursor": "pointer", "background": "#fff", "z-index": "2001", "border": "1px solid #ccc", "top": +yy, "left": +xx });
        var row = $('#flexigridData').datagrid('getRows')[rowIndex];
        if (row && row.MiaoShu && $.trim(row.MiaoShu) != "")
            $('#dQuestion').html(row.MiaoShu).show();
        else
            $('#dQuestion').html("无内容").show();
    }
    function HideQuestion() {
        $('#dQuestion').hide();
    }
    //“查询”按钮，弹出查询框
    function flexiQuery() {

        //将查询条件按照分隔符拼接成字符串
        var search = "";
        $('#divQuery').find(":text,:selected,select,textarea,:hidden,:checked,:password").each(function () {
            if (this.value != "全部") {
                if (this.id) {
               

                    search = search + this.id + "&" + this.value + "^";
                }
          
                else
                    search = search + this.name + "&" + this.value + "^";
            }
        });
        //执行查询
        $('#flexigridData').datagrid('load', { search: search });
    };

    //导航到修改的按钮
    function flexiModify(id) {



        $('#dd2').dialog({
            title: "请选择安排人员：",
            buttons: [{
                text: '安排',
                iconCls: 'icon-ok',
                handler: function () {
                    if ($("#AnpaiName").val() == '') {
                        alert('请选择安排人员');
                        return;
                    }
                    
                    var ChuLi = {
                        Id: id,
                        Anpai: $("#AnpaiName").val(),
                        AnpaiName: $("#AnpaiName").find("option:selected").text()
                    }
                    $.ajax({
                        url: '/ChuLi/UpdataAnPai',// 跳转到 action
                        data: ChuLi,
                        type: 'post',
                        cache: false,
                        dataType: 'HTML',
                        success: function (data) {
                            if (data == "成功") {

                                $('#dd2').dialog('close');
                                $('#flexigridData').datagrid('reload');
                            } else {
                                $.messager.alert('提示', data, 'info');
                                $('#flexigridData').datagrid('reload');
                            }
                        },
                        error: function () {
                            $.messager.alert('提示', '保存失败!', 'info');
                        }
                    });
                }
            }, {
                text: '取消',
                handler: function () {
                    $('#dd2').dialog('close');
                }
            }]
        });
        return false;

    };


    function editrow(id) {

        $('#dd').dialog({
            title: "请填写拒绝理由：",
            buttons: [{
                text: '拒绝',
                iconCls: 'icon-ok',
                handler: function () {

                    if ($("#JuJueLiYou").val() == '') {
                        alert('请填写拒绝理由');
                        return;
                    }
                    var ChuLi = {
                        Id: id,
                        JuJueLiYou: $("#JuJueLiYou").val()
                    }


                    $.ajax({
                        url: '/ChuLi/UpdataJJ',// 跳转到 action
                        data: ChuLi,
                        type: 'post',
                        cache: false,
                        dataType: 'HTML',
                        success: function (data) {
                            if (data == "成功") {
                                //$.messager.alert('提示', '保存成功!', 'info');
                                $('#dd').dialog('close');
                                $('#flexigridData').datagrid('reload');
                            } else {
                                $.messager.alert('提示', '保存失败!', 'info');
                                $('#flexigridData').datagrid('reload');
                            }
                        },
                        error: function () {
                            $.messager.alert('提示', '保存失败!', 'info');
                        }
                    });
                }
            }, {
                text: '取消',
                handler: function () {
                    $('#dd').dialog('close');
                }
            }]
        });
    }
    function UpdataDH(id) {

        $('#dd1').dialog({
            title: "请填写打回理由：",
            buttons: [{
                text: '打回',
                iconCls: 'icon-ok',
                handler: function () {

                    if ($("#FanKui").val() == '') {
                        alert('请填写打回理由');
                        return;
                    }
                    var ChuLi = {
                        Id: id,
                        JuJueLiYou: $("#FanKui").val()
                    }


                    $.ajax({
                        url: '/ChuLi/UpdataDH',// 跳转到 action
                        data: ChuLi,
                        type: 'post',
                        cache: false,
                        dataType: 'HTML',
                        success: function (data) {
                            if (data == "成功") {
                                //$.messager.alert('提示', '保存成功!', 'info');
                                $('#dd1').dialog('close');
                                $('#flexigridData').datagrid('reload');
                            } else {
                                $.messager.alert('提示', '保存失败!', 'info');
                                $('#flexigridData').datagrid('reload');
                            }
                        },
                        error: function () {
                            $.messager.alert('提示', '保存失败!', 'info');
                        }
                    });
                }
            }, {
                text: '取消',
                handler: function () {
                    $('#dd1').dialog('close');
                }
            }]
        });
    }
</script>
