@model IEnumerable<Langben.DAL.ShenQing>

@{
    ViewBag.Title = "我的维修单";
}

<div id="layout_main" style=" margin: 0 auto; width: 1020px;" class="layout_w1200_g22">
    <div id="gridContent" class="grid_18">
        <div class="mod_personal_head">
            <font class="tit">我的维修单</font>
            <select id="XueXiao" style="width: 203px; height: 30px; color: #999; font-size: 15px; margin-left:16px;  padding-left:3px" class="ipt">                
                <option value="60">前三个月维修单</option>
                <option value="60">前六个月维修单</option>
                <option value="60">全部维修单</option>
            </select>

            <a class="blue_link" style="margin-left:16px; " href="/Apply">维修申请</a>
            <div class="recpt_bor"></div>
        </div>

        <div class="mod_my_order_list">
            <dl class="clearfix">
                @foreach (var item in Model)
                {
                    <dt>
                        <label class="list_info">
                            <span class="year">@Html.DisplayFor(modelItem => Convert.ToDateTime(item.CreateTime).Year)</span>
                            <span class="month">@Html.DisplayFor(modelItem => Convert.ToDateTime(item.CreateTime).Month)/@Html.DisplayFor(modelItem => Convert.ToDateTime(item.CreateTime).Day)</span>
                            <br>

                            <span class="price_sen">待处理</span>
                             
                        </label>
                        <a class="list_radio" href="javascript:;"></a>
                        <u class="jiao"></u>
                        <label class="icon_list_c clearfix"> </label>
                    </dt>
                    <dd class="xq">
                        <div class="list_border">
                            <ul class="border_li">
                                <li class="li_right" style="height: 186px;">
                                    <span class="border_link">

                                        <table width="400" height="20" border="0">
                                            <tr>
                                                <td width="190">@Html.DisplayNameFor(model => model.XueXiao):@Html.DisplayFor(modelItem => item.XueXiao)</td>
                                                <td width="190">@Html.DisplayNameFor(model => model.BaoXiuRen)：@Html.DisplayFor(modelItem => item.BaoXiuRen) </td>
                                                <td width="205">@Html.DisplayNameFor(model => model.LianXiDianHua)：@Html.DisplayFor(modelItem => item.LianXiDianHua)</td>
                                                <td width="140"><a onmouseout="javascript: $('#@item.Id').hide();" onmouseover="javascript: $('#@item.Id').show();">维修单跟踪</a></td>

                                            </tr>
                                        </table>
                                        <div id="@item.Id" style="position: absolute; width: 400px; z-index: 1; border: 0px none; float: left; display: none;margin-left:300px;">
                                            <table border="0" bgcolor="#ffffff" style="border: 1px solid black;">
                                                <tbody>
                                                    <tr>
                                                        <td align="left" style="padding-top:6px; color:#000000;line-height:20px;padding-left:5px;">
                                                            <label clang="ApplyDate">状态:</label>
                                                            @Html.DisplayFor(modelItem => item.Remark)


                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>

                                        <font></font>
                                    </span>
                                    <ul class="orderList order_item_wideScreen_list " style="">
                                        <li>
                                            <div class="puv">
                                                <a class="puvA" onclick="addTrackPositionToCookie('13905415','O_L_PROPIC','12473477');" target="_blank" href="http://item-home.yhd.com/item/snapshotShow.do?productId=12473477&soItemId=570109600&flag=2">
                                                    <img src="http://d7.yihaodianimg.com/N03/M08/A8/44/CgQCtFIdrMyAWmDvAAVS3mSGKo418300_60x60.jpg">
                                                </a>
                                            </div>
                                            
                                        </li>
                                    </ul>

                                </li>
                                <li class="li_p" style="height: 186px;">
                                    <p class="list_operating">

                                        <a class="input_rep_btn orderListAgain" onclick="top.location.href='@Url.Action("Edit", "Apply", new { id = item.Id })'">编辑</a>
                                        <a class="input_rep_btn orderListAgain" href="Comment/@item.Id" >发表评论</a>
                                         
                                       
                                        <span class="order_num">


                                            <em>维修单号：</em>
                                            @Html.DisplayFor(modelItem => item.Id)

                                        </span>
                                    </p>
                                    <a class="li_p_del" href="javascript:void(0)" style="display: none;">
                                        <img src="http://image.yihaodianimg.com/member/member/images/order/del_icon.png">
                                    </a>



                                </li>

                            </ul>
                        </div>
                    </dd>




                }
            </dl>

        </div>
    </div>
</div>

<style>

   

</style>